.home{
  height: 100vh;
  width: 100vw;
  background-image: url(../../Images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    
  }
  .overlay{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: rgba(0,0,0,0.5);
    color: white;
  }

  .slider{
    margin-top: 200px;
  }

.place__desc{
  margin-top:100px;

}