.header{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  color: white;
}

.header__logo{
  color: white;
}
.header__logoImage{
  width: 100px;
  object-fit:contain;
}
.header__searchInput{
  padding: 5px 15px;
}

.header__nav > *{
  
  margin: 0px 15px;
  text-decoration: none; 
  color:white;

}
.user__name{
  width: fit-content;
  background-color: papayawhip;
  color:palevioletred;
}